body{background: #808080;}

aside #footer  {position: fixed;
                left: 0; bottom: 0;
                padding: 10px;
                background: silver;
                color: #778899;
                width: 25.4%}

aside{float: left;
      background: #778899;
      color: #F5FFFA;
      width: 25.4%;
      padding: -1%;
      height: 100vh;
      border-right: 5px solid #A9A9A9;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      overflow-x: hidden;
      padding-top: 20px;}

aside img{width: 100px;
          float: left;
          shape-outside: url("main/img/anonymous-man-vector.svg");}

aside .logo{font-size: 40px;
            margin-left: 10px;
            font-weight: bold;
            position: relative;
            top: -1%;
            font-family: arial;
            text-shadow: 1px 1px 1px red,
                         2px 2px 1px red;}

aside h3{margin-top: -3%;
         margin-left: 30px;
         font-size: 25px;}

aside ul {list-style: none}

aside ul li{color: ghostwhite;
            display: block;
            margin-top: 20px;
            transition: transform .6s ease;}

aside ul li:hover, aside ul a:hover{color: #A52A2A;
                                    text-decoration: none;
                                    transform: scale(1.15)}

main .features{text-align: center;
               color: #F5FFFA;
               width: 75%;
               padding: 2%;
               margin-left: 25%;}

main .features h1{font-size: 50px;
                  position: relative;
                  top: -1%;
                  font-family: arial;
                  text-shadow: 1px 1px 1px red,
                               2px 2px 1px red;}

main .features p{max-width: 80%; margin: 20px auto;}




